/* CONFIGURAÇÕES GERAIS */

.container {
  width: 80vw;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/*HEADER*/
header {
  background-image: url("../assets/header-bg.png");
  height: 519px;
}

.header-gap {
  gap: 90px;
}

/*MAIN*/

h2 {
  height: 38px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  margin: 80px 0 80px 0;
}

nav {
  margin: 0 auto;
  width: 50vw;
}

.navBar > li {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 5px;
  border: 6px solid transparent;
}

.navBar > li:hover {
  border-bottom: 6px solid var(--color-primary);
  cursor: pointer;
}

.cardList {
  height: 700px;
  padding: 20px;
}

.listItem {
  height: 220px;
  width: 360px;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.listItem div:nth-child(n) {
  height: 20%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  padding-top: 10px;
}

.listItem div:nth-child(2n) {
  background-image: url("../assets/card-bg.png");
  height: 80%;
  width: 360px;
  border-radius: 5px;
}

.cardData {
  height: 100%;
}

.cardData > li {
  width: 160px;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  text-align: left;
}

/* .listItem {
  height: 46px;
  width: 360px;
  background-color: var(--color-primary);
} */

/* MOBILE */

@media (max-width: 600px) {
  h2 {
    margin: 30px 0 30px 0;
  }

  ul {
    flex-direction: column;
  }
}
