/* CONFIGURAÇÕES GERAIS */

.container {
  width: 80vw;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 15px;
}
/*HEADER*/
header {
  background-image: url("../assets/header-bg.png");
  height: 519px;
}

.header-gap {
  gap: 90px;
}

/*MAIN*/

h2 {
  height: 38px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  margin: 80px 0 80px 0;
}

/*NAV BAR*/
nav {
  margin: 0 auto;
  width: 50vw;
}

.navBar > li {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 5px;
  border: 6px solid transparent;
}

.navBar > li:hover {
  border-bottom: 6px solid var(--color-primary);
  cursor: pointer;
}

/*CARD LIST*/
#cardList {
  height: 600px;
  overflow: auto;
  width: 60vw;
  margin: 50px auto;
  gap: 20px;
}

#cardList::-webkit-scrollbar {
  background-color: var(--color-grey-3);
  border-radius: 20px;
  border: 3px solid var(--color-grey-2);
}

/* CARD*/

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  height: 220px;
  width: 360px;
  border-radius: 5px;
}

.flip {
  transform: rotateY(180deg);
  background-color: #f0d800;
}

.face {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.titleCard {
  background-color: var(--color-primary);
  height: 46px;
  width: 360px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  padding: 10px;
}

#front {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/card-bg.png");
}

#front > p {
  height: 23px;
  width: 192px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

#back {
  backface-visibility: hidden;
  background-image: url("../assets/card-bg.png");
  display: flex;
  flex-direction: column;
}

.cardData {
  height: 100%;
}

.cardData > li {
  width: 160px;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  text-align: left;
}

footer {
  height: 186px;
  background-image: url("../assets/footer-bg.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

/* MOBILE */

@media (max-width: 600px) {
  h2 {
    margin: 30px 0 30px 0;
  }

  ul {
    flex-direction: column;
    gap: 20px;
  }

  .cardList {
    display: flex;
    flex-wrap: nowrap;
  }
}
